<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Atlas</title>
</head>
<div class="container">
    <h1 class="text-danger" style="align-content: center">Game Over</h1>
    <div class="container">
        <h2 class="text-center"> Your current score is {{ score }}</h2>
        <h2 class="text-center"> Your maximum score in this game was {{ max_score_in_game }}</h2>
        <h2 class="text-center"> Your high score is {{ high_score }}</h2>
        <a href="{% url 'home' %}">Play again ?</a>
    </div>
</div>
</html>